<ons-page>
    <div style="text-align: center; margin-top: 50%">
        <p>
            <ons-input id="username" modifier="underbar" placeholder="Username" float ng-model="page.username"></ons-input>
        </p>
        <p>
            <ons-input id="password" modifier="underbar" type="password" placeholder="Password" float ng-model="page.password"></ons-input>
        </p>
        <p style="margin-top: 30px;">
            <ons-button ng-click="auth()">Sign in</ons-button>
        </p>
    </div>
</ons-page>