<ons-page class="login-page">
    <div class="login-page-logo">
        <img src="images/mekaar.jpeg" />
    </div>
    <ons-list modifier="inset" style="margin-top: 100px">
        <ons-list-header>Log in</ons-list-header>
        <ons-list-item modifier="longdivider">
            <input type="text" class="text-input" placeholder="Username" ng-model="username">
        </ons-list-item>
        <ons-list-item modifier="longdivider">
            <input type="password" class="text-input" placeholder="Password" ng-model="password">
        </ons-list-item>
        <ons-list-item modifier="longdivider">
            <ons-button ng-click="auth({ username : username , password : password })">Sign in</ons-button>
        </ons-list-item>
    </ons-list>
</ons-page>
<ons-toast var="toastLoginFailed">
    Username or password is wrong <button ng-click="toastLoginFailed.hide()">OK</button>
</ons-toast>