    
    <div class="sidemenu-header">
        <div class="profile-pic">
            <img src="https://monaca.io/img/logos/download_image_onsenui_01.png">
        </div>
    </div>
    <ons-list-title>Access</ons-list-title>
    <ons-list>
      <ons-list-item ui-sref="dashboard">
        <div class="left">
          <ons-icon fixed-width class="list-item__icon" icon="ion-home, material:md-home"></ons-icon>
        </div>
        <div class="center">
          Dashboard
        </div>
        <div class="right">
          <ons-icon icon="fa-link"></ons-icon>
        </div>
      </ons-list-item>
    </ons-list>
